<app-search [query]="query$ | async" (queryChange)="onSearchQueryChange($event)" (searchButtonClick)="onSearchButtonClick($event)"></app-search>
<app-city-card [city]="city$ | async"></app-city-card>
