<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
      <a mat-menu-item routerLink="/lobby">
        <mat-icon>home</mat-icon>
        Lobby
      </a>
      <a mat-menu-item routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
      <a mat-menu-item routerLink="/weather">
        <mat-icon>cloud</mat-icon>
        Weather
      </a>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
