<div class="app-row">
  <mat-card *ngIf="city">
    <mat-card-header>
      <!--<div mat-card-avatar></div>-->
      <mat-card-title>{{city?.name}}</mat-card-title>
      <mat-card-subtitle>{{city?.sys.country}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <!--<img mat-card-image src="" alt="">-->
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Main
            </mat-panel-title>
            <mat-panel-description>
              Humidity, pressure, temperature
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Humidity: {{city?.main.humidity}}</p>
          <p>Pressure: {{city?.main.pressure}}</p>
          <p>Temperature: {{city?.main.temp}}</p>
          <p>Max temperature: {{city?.main.temp_max}}</p>
          <p>Min temperature: {{city?.main.temp_min}}</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Wind
            </mat-panel-title>
            <mat-panel-description>Degree and speed</mat-panel-description>
          </mat-expansion-panel-header>
          <p>Deg: {{city?.wind.deg}}</p>
          <p>Speed: {{city?.wind.speed}}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <!--<mat-card-actions></mat-card-actions>-->
  </mat-card>
</div>