<mat-card>
  <mat-card-header>
    <mat-card-title>Add new task</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="app-form-field app-form-field--full-width">
      <input matInput placeholder="Title" [(ngModel)]="task.title">
    </mat-form-field>
    <mat-form-field class="app-form-field app-form-field--full-width">
      <input matInput placeholder="Sub-title" [(ngModel)]="task.subtitle">
    </mat-form-field>
    <mat-form-field class="app-form-field app-form-field--full-width">
      <textarea matInput placeholder="Content" [(ngModel)]="task.content"></textarea>
    </mat-form-field>
    <div class="app-form-field app-form-field--full-width">
      <label for="file">Select picture</label>
      <input hidden id="file" #picture name="file" class="md-button app-file-input" type="file" placeholder="Select picture" (change)="fileChange($event)">
      <button mat-button color="accent" (click)="picture.click()">BROWSE</button>
      <img mat-card-image *ngIf="task.picture" src="{{task.picture}}" alt="Picture">
    </div>
  </mat-card-content>
  <mat-card-actions class="app-row app-row--align-right">
    <button mat-raised-button color="primary" (click)="addNewTask($event)">ADD</button>
  </mat-card-actions>
</mat-card>
