<div class="app-row">
  <mat-card *ngFor="let feature of features" class="feature">
    <mat-card-header>
      <mat-card-title>{{feature.title}}</mat-card-title>
      <mat-card-subtitle>{{feature.subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{feature.content}}</p>
    </mat-card-content>
    <mat-card-actions class="app-row app-row--align-right">
      <a mat-raised-button color="primary" routerLink="{{feature.link}}" class="app-button">Go</a>
    </mat-card-actions>
  </mat-card>
</div>
