<div *ngIf="toolbarOptions">
  <mat-toolbar *ngFor="let button of toolbarOptions.buttons">
  <a mat-raised-button color="primary" routerLink="{{button.route}}">{{button.title}}</a>
  </mat-toolbar>
</div>
