<mat-card class="task" *ngFor="let task of tasks$ | async">
  <mat-card-header>
    <!-- <div mat-card-avatar></div> -->
    <mat-card-title>{{task.title}}</mat-card-title>
    <mat-card-subtitle>{{task.subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <img *ngIf="task.picture" mat-card-image src="{{task.picture}}" alt="Picture">
  <mat-card-content>
    <p>{{task.content}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="accent">EDIT</button>
    <button mat-button color="accent">REMOVE</button>
  </mat-card-actions>
</mat-card>
