<div class="app-row">
  <mat-form-field class="app-form-field app-form-field--full-width">
    <input matInput placeholder="City name" (keyup)="queryChange.emit($event.target.value)">
  </mat-form-field>
</div>
<div class="app-row">
  <button mat-raised-button color="primary" class="app-button app-button--primary app-button--full-width" (click)="searchButtonClick.emit(query)">Get data</button>
</div>
